@import '../../scss/utils';

.swiper {
  position: relative;
  touch-action: none;
  overflow: hidden;
  width: 100%;
  .animate {
    position: relative;
    font-size: 0;
    width: 100%;
    white-space: nowrap;
    .swiperSlider {
      display: inline-block;
      width: 100%;
      .swiperImg {
        width: 100%;
        will-change: transform;
      }
    }
  }
}
