@import '../../scss/utils';

.swiper {
  position: relative;
  touch-action: none;
  width: 100%;
  overflow: hidden;
  .animate {
    width: 100%;
    height: 100%;
    .swiperSlider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      will-change: transform;
      .swiperImg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        will-change: transform;
      }
    }
  }
}
