@import '../../scss/utils';
@import '../../scss/variables';
.listItem {
  width: 100%;
  font-size: 0;
  padding: rem(10) 0 rem(10) 0;
  overflow: hidden;
  &.current {
    .index {
      color: rgba($mainColor, 0.6);
    }
    .itemInfo {
      .itemName {
        color: $mainColor;
      }
      .itemSinger {
        color: rgba($mainColor, 0.8);
      }
    }
  }
  .index {
    float: left;
    display: inline-flex;
    width: rem(50);
    height: rem(36);
    font-size: rem(16);
    justify-content: center;
    align-items: center;
    color: rgba($fontColor, 0.6);
  }
  .itemInfo {
    width: rem(325);
    float: left;
    position: relative;
    padding-right: rem(20);
    &:after {
      content: '';
      position: absolute;
      right: rem(10);
      bottom: rem(-10);
      width: 100%;
      border-bottom: 1px solid rgba($fontColor, 0.1);
      transform: scaleY(0.4);
    }
    .itemName {
      margin: 0;
      font-size: rem(16);
      font-weight: normal;
      color: $fontColor;
      @include text-overflow();
    }
    .itemSinger {
      margin: 0;
      font-size: rem(11);
      color: rgba($fontColor, 0.8);
      @include text-overflow();
    }
  }
}
