@import '../../scss/variables';
@import '../../scss/utils';
.progress {
  width: rem(320);
  height: rem(6);
  border: 1px solid #fff;
  background: $secondaryColor;
  .barWrapper {
    width: 100%;
    height: 100%;
    .bar {
      position: relative;
      height: 100%;
      border-radius: 3px;
      background: $mainColor;
    }
    .button {
      position: absolute;
      width: rem(12);
      height: rem(12);
      background: $mainColor;
      border-radius: 50%;
      border: 1px solid #fff;
      right: -6px;
      top: calc(50% - 6px);
    }
  }
}
