@import '../../scss/utils';
@import '../../scss/variables';
.title {
  color: $fontColor;
  font-size: rem(18);
  padding-left: rem(12);
  background: linear-gradient(to right, $mainColor 4px, #fff 0);
  display: flex;
  align-items: center;
  //width: rem(110);
  .arrow {
    font-size: rem(24);
  }
}
