@import '../../scss/utils';
.playList {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#000, 0.4);
  .list {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 58vh;
    border-top-left-radius: rem(12);
    border-top-right-radius: rem(12);
    background: #ffffff;
    .topBar {
      display: flex;
      height: rem(50);
      .loopType {
        width: 50%;
        padding: rem(12) rem(20);
        display: flex;
        align-items: center;
        i {
          color: rgba($fontColor, 0.8);
          margin-right: rem(6);
        }
        font-size: rem(14);
        color: $fontColor;
      }
      .delete {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        padding: rem(12) rem(24) rem(12) rem(20);
        text-align: right;
      }
    }
    .inner {
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden;
      height: calc(100% - 0.66rem);
      width: 100%;
      border-top: 1px solid rgba($fontColor, 0.1);
      .scroll {
        .listItem {
          position: relative;
          width: 100%;
          padding: rem(12) rem(20);
          &.current {
            .info {
              .name {
                color: $mainColor;
              }
              .singer {
                color: rgba($mainColor, 0.8);
              }
              .playIcon {
                position: relative;
                top: rem(-3);
                display: inline-block;
                margin-left: rem(10);
                height: rem(10);
                font-size: 0;
                i {
                  position: absolute;
                  width: 2px;
                  height: 100%;
                  background: #000;
                  transform-origin: bottom;
                  animation: scaleHeight 0.3s linear alternate infinite;
                  bottom: 0;
                  background: $mainColor;
                  &:nth-child(1) {
                    left: 0;
                    animation-delay: 0.1s;
                  }
                  &:nth-child(2) {
                    left: 4px;
                  }
                  &:nth-child(3) {
                    left: 8px;
                    animation-delay: 0.3s;
                  }
                  &:nth-child(4) {
                    left: 12px;
                    animation-delay: 0.2s;
                  }
                }
              }
            }
          }
          &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 rem(10);
            border-bottom: 1px solid rgba($fontColor, 0.1);
            transform: scaleY(0.4);
          }
          .delete {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(43);
            height: rem(43);
            right: rem(10);
            bottom: 0;
          }
          .info {
            display: flex;
            align-items: flex-end;
            p {
              margin: 0;
            }
            .name {
              font-size: rem(14);
              margin-right: rem(4);
              max-width: rem(140);
              color: $fontColor;
              @include text-overflow();
            }
            .singer {
              font-size: rem(11);
              max-width: rem(100);
              color: rgba($fontColor, 0.8);
              @include text-overflow();
            }
          }
        }
      }
    }
  }
}
@keyframes scaleHeight {
  to {
    transform: scaleY(0.6);
  }
}
