@import '../../scss/utils';

.carousel {
  position: relative;
  touch-action: none;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  border-radius: rem(6);
  .carouselPagination {
    position: absolute;
    font-size: 0;
    width: 100%;
    left: 0;
    bottom: rem(6.8);
    text-align: center;
    .dot {
      &+.dot{
        margin-left: rem(6);
      }
      display: inline-block;
      width: rem(5.5);
      height: rem(5.5);
      background: #000;
      border-radius: 50%;
      background: rgba(#bbb,0.6);
    }
  }
}
