@import '../../scss/utils';
@import '../../scss/variables';
.miniPlayer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $mainColor;
  height: rem(50);
  z-index: 3;
  display: flex;
  align-items: center;
  .miniPic {
    &.stop {
      animation-play-state: paused;
    }
    border-radius: 50%;
    width: rem(40);
    height: rem(40);
    margin-left: rem(20);
    animation: rotate 20s linear infinite forwards;
  }
  .playControl {
    width: rem(50);
    height: rem(50);
    margin-left: rem(10);
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: rem(32);
      color: #fff;
    }
  }
  .songInfo {
    width: rem(230);
    overflow: hidden;
    p {
      margin: 0;
      display: inline-block;
      color: $secondaryColor;
    }
    .name {
      font-size: rem(16);
      margin-right: rem(10);
    }
    .singer {
      font-size: rem(12);
    }
  }
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
