@import '../../scss/utils';
@import '../../scss/variables';
.miniPlayer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $mainColor;
  height: rem(50);
  z-index: 3;
  display: flex;
  align-items: center;
  .miniPic {
    &.stop {
      animation-play-state: paused;
    }
    border-radius: 50%;
    width: rem(35);
    height: rem(35);
    margin: 0 rem(20);
    animation: rotate 20s linear infinite forwards;
  }
  .playControl {
    width: rem(50);
    height: rem(50);
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: rem(22);
      color: #fff;
    }
    .list {
      font-size: rem(16);
    }
  }
  .songInfo {
    width: rem(200);
    overflow: hidden;

    .scrollTitle {
      width: max-content;
      white-space: nowrap;
      .name {
        font-size: rem(16);
        margin: 0;
        color: $secondaryColor;
      }
    }
    .singer {
      font-size: rem(12);
      margin: 0;
      color: $secondaryColor;
    }
  }
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

@keyframes :global(scroll) {
  to {
    transform: translateX(-100%);
  }
}
