@import '../../scss/utils';
$Left: 45;
.playerWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $secondaryColor;
  .topBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: rem(50);
  }
  .controllerGroup {
    font-size: 0;
    position: absolute;
    left: rem($Left);
    bottom: rem(560);
    .button {
      & + .button {
        margin-left: rem(30);
      }
      border: none;
      outline: none;
      background: transparent;
    }
  }
  .lyric {
    width: rem(318);
    height: rem(170);
    position: absolute;
    left: rem($Left);
    bottom: rem(340);
  }
  .album {
    position: absolute;
    padding: 0 rem(45);
    left: 0;
    bottom: rem(370);
    font-size: 0;
    width: rem(240);
    background: url('../../assets/images/picBG.png') right/rem(165) no-repeat;
    &:before {
      position: absolute;
      left: rem(70);
      bottom: rem(-48);
      z-index: -1;
      transform-style: preserve-3d;
      content: '';
      width: rem(200);
      height: rem(150);
      transform: perspective(rem(500)) rotateX(70deg) rotateZ(30deg);
      display: block;
      border-radius: 50%;
      box-shadow: -80px 20px 60px 0 rgba(0, 0, 0, 0.5);
    }
    &:after {
      position: absolute;
      right: rem(50);
      bottom: rem(-48);
      z-index: -1;
      transform-style: preserve-3d;
      content: '';
      width: rem(200);
      height: rem(150);
      transform: perspective(rem(500)) rotateX(70deg) rotateZ(-20deg);
      display: block;
      border-radius: 50%;
      box-shadow: 80px 20px 50px 0 rgba(0, 0, 0, 0.4);
    }
    .pic {
      width: rem(165);
      height: rem(165);
      box-shadow: rem(2) rem(2) rem(8) 0 #a2a1a7;
      background: url('../../assets/images/albumHolder.jpg') center/cover
        no-repeat;
    }
  }
  .buttonGroup {
    position: absolute;
    bottom: rem(260);
    left: rem($Left);
    background: lighten($mainColor, 7%);
    font-size: 0;
    border: 2px solid $mainColor;
    display: inline-block;
    border-radius: 3px;
    .button {
      color: #fff;
      border: none;
      outline: none;
      width: rem(106);
      height: rem(50);
      background: transparent;
    }
    .prevButton {
    }
    .actionButton {
      border-left: 2px solid lighten($mainColor, 10%);
      border-right: 2px solid lighten($mainColor, 10%);
    }
    .nextButton {
    }
  }
  .songInfo {
    position: absolute;
    left: rem($Left);
    bottom: rem(150);
    color: $mainColor;
    .name {
      margin: 0 0 rem(16);
      font-size: rem(18);
      font-weight: bolder;
    }
    .singerName {
      margin: 0;
      font-size: rem(12);
    }
  }
  .timeline {
    position: absolute;
    font-size: rem(12);
    color: $mainColor;
    right: rem(16);
    bottom: rem(48);
  }
  .backgroundProgress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: -1;
    will-change: transform;
    pointer-events: none;
  }
  .progress {
    position: absolute;
    bottom: rem(84);
    left: rem($Left);
  }
}
